/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media screen and (max-width: 600px) {
    .sidebar{
margin: 5px;
height: 99%;

    }
  .gridoverview {
    grid-template-columns: auto;
    display: grid;
}
.overviewtable{
    font-size: 10px;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-columns: auto auto auto
}
.displaynone{
display: none;
}
.smalltext{
    font-size: 15px;
}
.smallxtext{
    font-size: 12px;
}
.smalltexttitle{
    font-size: 25px;
}
.tablecss{
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

.tablecsstwo{
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}
.nameimggrid{
    grid-column: span 3;
}
.nameimggridlol{
    grid-column: span 1;
}
.flexcloumnn{
    flex-direction: column;
}
.fllwdth{
    width: 110%;
}
.rightedit1{
right: 6%;
}
.rightwelcome{
    left: 10%;
}
.truebtnedit{
    left: 12%;
    width: 155px;
}
.falsebtnsignup{
    right: 35%;
}
.falsebtnedit{
    left: 10%;
   width: 155px;
  
}
.falsebtnedit:hover{
    width: 155px;
}
.logintrueedit{
    right: 0;
    padding-right: 0;
}
.createfalse{
    right: -100%;
}
.error{
    width: 250px;
}
.wdthflll{
    width: 120%;
}
.columngap{
    column-gap: 10px; 
}
.signintrue{
    left: -100%;
}
.inputedit{
    width: 100px;
}
.signinfalse{
    left: 0;
    padding-left: 0;
}
}

@media screen and (min-width: 601px) and (max-width: 1024px) and (orientation: portrait) {
    .sidebar{
    margin: 5px;
    height: 99%;
    
    }
.gridoverview {
    grid-template-columns: auto;
    display: grid;
}
.overviewtable{
    font-size: 10px;
    padding-left: 0;
    padding-right: 0;
    display: grid;
    grid-template-columns: auto auto auto
}
.displaynone{
    display: none;
}
.smalltext{
    font-size: 15px;
}
.tablecss{
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

.tablecsstwo{
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}
}

